{% extends "base.html" %}
{% block title %}Home | PERSIAN HACKTIVIST{% endblock %}

{% block content %}

<div class="home-box">

    <!-- TITLE -->
    <h1 class="home-title text-5xl font-bold mb-4">
        Welcome to <span class="red-glow">Persian Hacktivist</span>
    </h1>

    <!-- BUTTONS -->
    <div class="space-x-4 mt-10">
        <a href="/about" class="cyber-btn">About Team</a>
        <a href="/blog" class="cyber-btn">Blog</a>
        <a href="/courses" class="cyber-btn">Courses</a>
    </div>

</div>

{% endblock %}
